/*选项卡切换*/
.titlemouseover
{ 
    	background-image:url('../images/titlebg1.gif');
    	width:80px;
    	height:26px;
    	text-align:center;
    	font-size:12px;
    	cursor:hand;
}
.tabtitle
{ 
    	background-image:url('../images/titlebg2.gif');
    	width:80px;
    	height:26px;
    	text-align:center;
    	font-size:12px;
    	cursor:hand;
}
    
body
{
	margin: 10px;
	font-family: 宋体, Arial, Helvetica, sans-serif;
	font-size:12px;
}

table
{
	font-size: 9pt;
	color: #222222;
}
table caption
{
	text-align: left;
	color: #CCC;
	font-weight: bold;
}

form
{
	margin: 0;
	padding: 0;
}

/**/
.form_head_row
{
	color: #000000;
	font-weight: bold;
	height: 26px;
	background-color: #F5F5F5;
	cursor: hand;
}

.form_text_row
{
	padding-left: 9px;
	color: #000000;
	background-color: #F5F5F5;
}
.form_ctrl_row
{
	background-color: #FFFFFF;
	height: 28px;
	padding-left: 9px;
	color: #777;
}

.page_toolbar
{
	border: 1px solid #bac9c6;
	padding:8px;
	background-color: #F5F5F5;
	margin-bottom:5px;
}
.page_sarch
{
	font-size: 12px;
	color: #000000;
	padding-top:2px;
	margin-top:4px;
}
/*.page_sarch input
{
	margin:0;
	padding:0;
	border: 1px solid #DDDDDD;
	height: 24px;
}*/
.page_sarch a
{
	border: 1px solid #DDDDDD;
	background-color:#fff;
	text-decoration: none;
	color: #000;
	padding: 4px 6px 1px 6px;
}
.page_sarch a:hover
{
	border-style: inset;
	border-width: 1px;
	padding: 4px 6px 1px 6px;
}

.page_title
{
	padding:0 0 4px 0;
	font-size: 14px;
	color: #0066FF;
	font-weight: bold;
}
.page_info
{
	font-size: 12px;
	color: #000000;
	padding-top:2px;
	margin-top:0px;
}
/*.page_info input
{
	margin:0;
	padding:0;
	border: 1px solid #DDDDDD;
	background-color:White;
	height:19px;
}*/


.inputbutton
{ 
	margin:0;
	padding:0;
	border:0;
	width:65px;
	cursor:hand;
	height:24px;
	color:#000;
	background-image:url('../images/button.jpg');
}
.inputbutton_a
{ 
	margin:0;
	padding:0;
	border:0;
	width:65px;
	height:24px;
	color:#666666;
	cursor:hand;
	background-image:url('../images/button_a.jpg');
}
.page_bottom
{
	border-bottom: 1px solid #bac9c6;
	padding:2px;
	background-color: #F5F5F5;
	margin-bottom:2px;
	text-align:center;
}
.page_bottom a
{
	text-decoration: none;
	font-weight:normal;
	font-size:12px;
	color: #000;
	text-align:center;
	 vertical-align:text-bottom;
	 line-height:24px;
}
.page_bottom a:hover
{
	color:#666666;
}
.page_button
{
	padding:2px;
	margin-bottom:2px;
}
.page_button a
{
	text-decoration: none;
	font-weight:normal;
	font-size:12px;
	color: #000OOO;
	text-align:center;
	vertical-align:text-bottom;
	line-height:24px;
}
.page_button a:hover
{
	color:#666666;
}
.page_title a
{
	text-decoration: none;
	font-weight:normal;
	font-size:12px;
	color: #000;
	text-align:center;
	 vertical-align:text-bottom;
	 line-height:24px;
}
.page_title a:hover
{
	color:#666666;
}
.page_info a
{
	border: 1px solid #DDDDDD;
	background-color:#fff;
	text-decoration: none;
	color: #000;
	padding: 4px 6px 1px 6px;
}

.page_info a:hover
{
	border-style: inset;
	border-width: 1px;
	padding: 4px 6px 1px 6px;
}
.page_main a
{
	color:#0099CC;
	text-decoration:none;
}
.page_main a:hover
{
	color:Red;
	text-decoration:none;
}
.toolmune
{
	border-left:1px solid #DDDDDD;
	border-right:1px solid #DDDDDD;
	border-bottom:1px solid #DDDDDD;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #666;
	white-space: nowrap;
	position: absolute;
	background-color: #FFFFFF;
	padding: 5px;
	display: none;
	width: 110px;
}
.toolmunel
{
	float:right;
	width:53px;
	height:1px;
	border-top:1px solid #DDDDDD;
	margin:-5px -2px 0 0; 
	text-align:right;
}
.toolmune ul
{
	padding:-10px 0 0 0;
	margin:0;
}
.toolmune li
{
	height: 20px;
	padding: 0;
	margin: 0;
	list-style-type: none;
	color: #990000;
}
.toolmune li a
{
	text-decoration: none;
	color:#990000;
}
.actionErr{
	background: #FFF2E9 url(../images/validate_error.gif) no-repeat;
	padding-left: 25px;
	padding-top: 5px;
	padding-bottom: 3px;
	border: #f60 1px solid;
	font-size:12px;
}
.actionOk{
	background: #E9FFEB url(../images/validate_success.gif) no-repeat;
	padding-left: 25px;
	padding-top: 5px;
	padding-bottom: 3px;
	border: #00be00 1px solid;
	font-size:12px;
}


/*带验证的数据数据输入格式*/
.form_table_input
{
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #EEEEEE;
}
.form_table_input td
{
	border-top: 1px solid #EEEEEE;
}
.form_table_input .form_table_input_info
{
	text-align: right;
	padding-right: 10px;
	color: #0099FF;
	font-weight: bold;
	line-height:24px;
}

.form_table_input textarea
{
	width:250px;
	height:50px;
}

.long_input
{
	width:250px;
	height:18px;
}
.short_input
{
	width:40px;
	height:18px;
}
.date_input
{
	width:63px;
	height:18px;
}




/*数据表*/
.datatable th
{
	color: #000000;
	font-weight: bold;
	height: 24px;
	background-image: url(../images/head_bg.gif);
	cursor: hand;
}
.datatable td
{
	height: 23px;
	padding-left: 9px;
}

.datatable a
{
	color: #0066CC;
	text-decoration: none;
}
.tabs
{
	display:none
}

.textcontent
{
	padding-left:5px;
	
}

.table_label_parameter
{
	 background-color:#EEEEEE;
}
.table_label_parameter td
{
	 background-color:#FFFFFF;
}

