<?xml version="1.0"?>
<configuration>
	<system.webServer>
  <handlers>
   <remove name="ChartImageHandler" />
   <add name="ChartImageHandler" preCondition="integratedMode" verb="GET,HEAD,POST"
    path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
  </handlers>
 </system.webServer>
 <appSettings>
  <add key="uploadfilepath" value="upload" />
  <add key="allowuploadfiletype" value="rar,gif" />
  <add key="DAL" value="ShowShop.SQLServerDAL" />
  <add key="DataTablePrefix" value="yxs_" />
  <add key="templets" value="\templets\skin" />
  <add key="SiteUrls" value="~/admin/xml/siteurls.xml" />
  <add key="UpdateAdress" value="http://localhost/" />
  <add key="Server" value="(local)" />
  <add key="User" value="sa" />
  <add key="Password" value="sa" />
  <add key="DB" value="YXShop5.0" />
  <add key="AppID" value="21824" />
  <add key="AppCode" value="9747c1f0fc9211dd8280eb5a34796bba" />
  <add key="APPURL" value="http://sip.alisoft.com/sip/rest" />
  <add key="ChartImageHandler" value="storage=file;timeout=20;dir=c:\TempImageFiles\;" />
   <!--商品缩略图路径-->
   <add key="ImgThumbnailPath" value="/imageFile/product/thumbnail" />
 </appSettings>
	<connectionStrings>
		<add name="ConnectionString"  connectionString="Data Source=.;Initial Catalog=ShowShop;User ID=sa;Password=123456" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<system.web>
		<!-- 
            设置 compilation debug="true" 可将调试符号插入
            已编译的页面中。但由于这会 
            影响性能，因此只在开发过程中将此值 
            设置为 true。
        -->
		<httpHandlers>
   <add path="ChartImg.axd" verb="GET,HEAD,POST" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
    validate="false" />
  </httpHandlers>
  <compilation defaultLanguage="c#" debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/></assemblies></compilation>
		<anonymousIdentification enabled="true"/>
		<profile automaticSaveEnabled="false" defaultProvider="ShoppingCartProvider">
			<providers>
				<add name="ShoppingCartProvider" connectionStringName="ConnectionString" type="ShowShop.BLL.Order.YXShopProfileProvider" applicationName=".NET YiXiang Shop 3.3"/>
				<add name="WishListProvider" connectionStringName="ConnectionString" type="ShowShop.BLL.Order.YXShopProfileProvider" applicationName=".NET YiXiang Shop 3.3"/>
			</providers>
			<properties>
				<add name="ShoppingCart" type="ShowShop.BLL.Order.Cart" allowAnonymous="true" provider="ShoppingCartProvider"/>
				<add name="WishList" type="ShowShop.BLL.Order.Cart" allowAnonymous="true" provider="WishListProvider"/>
			</properties>
		</profile>
		<!--
            通过 <authentication> 节可以配置 ASP.NET 用来 
            识别进入用户的
            安全身份验证模式。 
        -->
		<authentication mode="Windows"/>
		<!--
            如果在执行请求的过程中出现未处理的错误，
            则通过 <customErrors> 节可以配置相应的处理步骤。具体说来，
            开发人员通过该节可以配置
            要显示的 html 错误页
            以代替错误堆栈跟踪。
        -->
		<customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
			<error statusCode="403" redirect="NoAccess.htm"/>
			<error statusCode="404" redirect="FileNotFound.htm"/>
		</customErrors>
		<httpModules>
			<add name="MyHttpModule" type="ShowShop.Common.MyHttpModule,ShowShop.Common"/>
		</httpModules>
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
   <controls>
    <add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting"
     assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
   </controls>
  </pages></system.web>
	<!-- 
        在 Internet 信息服务 7.0 下运行 ASP.NET AJAX 需要 system.webServer
        节。对早期版本的 IIS 来说则不需要此节。
    -->
</configuration>
